* {
box-sizing:border-box;

}

@font-face {
font-family:vazirmatn;
src: url("/assets/fonts/Vazirmatn-Regular.ttf");
font-weight: normal;
font-style: normal;

}

html,
body,
button,
input,
span,
div {
font-family:vazirmatn !important;

}

body{
background-color:#F8FAFC;
border:4px solid #D9E7DC;
border-radius:16px;
min-height:100vh;
max-width: 1400px;
margin:0 auto;
color: #14213D;
position: relative;
padding-bottom:60px;

}

.header {
background-color: #ffffff;
border-bottom:1px solid #E5E7EB;
border-radius:16px  16px 0 0;
position:sticky;
top:0;
z-index:100;

}

.header__container {
display: flex;
align-items: center;

gap:15px;
width:100%;

}

.header__logo-image {
width: 100px;
display: flex;
align-items: center;
margin-right:28px;

}

.header__nav{
display: flex;
gap:10px;

}

.header__actions{
display:flex;
align-items: center;
margin-right:auto;
gap:30px;
margin-left:30px;

}

.header__button{
background:none;
border:none;
cursor: pointer;
font-size:16px;

}

.header__login{
text-decoration:none;
color:#14213D;
font-size:16px;

}

.header__card {
border:none;
background:none;
background-color:#ECFCF4;
border-radius:5px ;
color:#599EA8;
padding:7px 9px;
font-size:16px;

}

.page-header{
text-align:center;
padding:15px;

}

.page-header__breadcrumb{
display:flex;
justify-content:flex-start;
align-items:center;
gap:8px;
margin-bottom:20px;
margin-right:50px;

}

.page-header__breadcrumb-link{
color:#788394;
text-decoration:none;
font-size:14px;

}

.page-header__breadcrumb-separator{
color:#788394;

}

.page-header__title{
margin-right:50px;
font-size:32px;
font-weight:bold;
margin-bottom:20px;
display: flex;

}

.page-header__description{
display: flex;
color: #788394;
font-size:15px;
margin-right:50px;

}

.products{
max-width:1100px;
width:calc(100% - 300px);
margin-left:0;
margin-right:300px;
padding:40px 20px;
margin-top:-30px;
}

.products__header{
max-width:1100px;
width:100%;
display: flex;
flex-direction: column;
gap:20px;


}

.products__toolbar{
display: flex;
align-items: center;
justify-content:space-between;

font-size:14px;
margin-right:10px;
color:#7A8191 ;

}

.products__search-input{
width:100%;
height:40px;
padding:0 15px;
border: 1px solid #EDEEF0;
border-radius:16px;
background-color:#ffffff;
outline:none;

}

.products__sorting{
   display: flex; 
   align-items:center;
   gap: 8px;
   
}


.products__sorting-select{
border:none;
outline: none;
appearance:none;
background-color:#F9FBFC;
align-items: center;
font-size:14px;
color:#788394;
padding:5px 10px;
}

.products__count{
    display: flex;
    align-items: center;
    gap:5px;
    font-size:14px;

}

.products__count-number{
font-weight: bold;

}

.products__grid{
display: grid;
grid-template-columns:repeat(3,minmax(0,1fr));
width:100%;
margin-top:20px;
gap:20px;

}

.product-card{
width: 100%;

display:flex;
flex-direction: column;
overflow: hidden;

border:1px solid #EDEEF0;
border-radius:20px;

gap:10px;

background-color:#FFFEFE;

}

.product-card__img{
width:100%;
height:200px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
border-bottom:1px solid #EDEEF0;

}

.product-card__img img{
width:60%;
height:180px;
display: block;
object-fit:contain;


}

.product-card__shipping{
border-radius:16px;

width:fit-content;
min-width:90px;
height:25px;

font-size:11px;

padding:3px 10px;

display: flex;
justify-content:center;
align-items: center;

background-color:#ECFCF4;
color:#1E7F76;

margin-right:10px;

}

.product-card__content{
padding:5px 10px 15px;

}

.product-card__title{
font-size:15px;
margin:0 0 10px;
line-height:1.8;


}

.product-card__bottom{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.product-card__price{
font-size:14px;
margin:0 ;
font-weight:bold;

}

.product-card__rating{
display: flex;
align-items: center;
direction:ltr;
gap:5px;

}

.product-card__rating-stars{
color:#C08622;


}

.product-card__rating-value{
font-size:13px;
color:#C08622 ;


}

.footer{
position: fixed;
background-color:#15203D ;
bottom:0;
 width:100%;
 max-width:1400px;
color:#E2E8F0;
height:60px;

     
display:flex;
align-items:center;
justify-content:space-around;

}

.footer__link{
background:none;
border:none;
color:#E2E8F0;
    
}